.activity-section {
    display: none;
}

@media screen and (min-width: 1200px) {
    .activity-section {
        display: block;
    }
}

.activity-container {
    display: flex;
    align-content: center;
    margin-right: -30px;
}

.activity-item {
    position: relative;
    width: calc((100% - 90px) / 3);
    margin-right: var(--set-gap);
}

.activity-text {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    background-color: rgba(47, 48, 58, 0.8);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
}