.footer-container {
    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        text-align: start;
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--black-bg-color);

    & .adress,
    & .link {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }

    & .link {
        color: var(--footer-auth-color);
    }

    & .adress {
        color: var(--white-text-color);
    }
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-logo-block {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
       margin-right: 70px;
    }
}

.footer .logo {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
    }
}

// Footer-socials 

.footer-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-join {
    margin-bottom: 20px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.footer-socials {
    display: flex;
    align-items: center;
    margin-right: -10px;
}

.footer-social {
    margin-right: 10px;
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-text-color);
    }
}

// Footer form

.footer-form {

    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.footer-form-list {
    display: flex;
    align-items: center;


    @media screen and (max-width: 1199px) {
        flex-direction: column;
    }
}

.footer-input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--footer-auth-color);

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
        max-width: 450px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
        width: 358px;
    }
}

.footer-form-btn {
    display: inline-flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    width: 200px;
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
    cursor: pointer;
}

.icon-send {
    margin-left: 10px;
    fill: var(--white-text-color);
}