.header {
    border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    align-items: center;
}

.tablet-header {
    @media screen and (max-width: 767px) {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.site-nav {
    display: flex;
}

.site-nav__item {
    display: block;
    margin-right: 50px;

        &:last-child {
            margin: 0;
        }
}

.site-nav__link,
.auth-nav__link {
    color: var(--title-text-color);
    font-style: medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav__link--current {
    position: relative;
    color: var(--accent-text-color);

        &::after {
            position: absolute;
            bottom: -1px;
            left: 0;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-text-color);
        }
}

.auth-nav {
    margin-left: auto;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.auth-nav__item:first-child {
    @media screen and (min-width: 768px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 50px;
        }
    }

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
}

.auth-nav__link {
    color: var(--primary-text-color);
    display: flex;
    align-items: center;

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.auth-nav__icon {
    margin-right: 10px;
    fill: currentColor;
}