.logo {
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-style: bold;
    font-size: 26px;
    line-height: 1.19;
}

.logo__web {
    color: var(--accent-text-color);
}

.logo__studio {
    color: var(--title-text-color);
}