.footer {
    & .logo {
    display: block;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-style: bold;
    font-size: 26px;
    line-height: 1.19;
    }
}

.footer {
    & .logo__studio {
    color: var(--white-text-color);
    }
}