.mobile-header {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    @media screen and (max-width: 767px) {
        display: block;
    }
    
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 5;

      &:hover,
      &:focus {
          fill: var(--accent-text-color);
      }
}

.menu-button .mobile-icon--cross {
    display: none;
}

.menu-button.is-active .mobile-icon--cross {
    display: block;
}

.menu-button.is-active .mobile-icon--menu {
    display: none;
}

.mobile-menu {
    display: none;

        &.is-open {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            overflow-y: scroll;
            z-index: 1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            padding-top: 48px;
            padding-bottom: 40px;
            padding-left: 40px;
            
            background-color: #fff;
        }
}

.mobile-nav {
    display: block;
}

.mobile-site-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-site-nav__link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.mobile-site-nav__link--current {
    color: var(--accent-text-color);
}

// .mobile-menu-group {
//     margin-top: auto;
// }

.mobile-auth-nav {
    margin-bottom: 64px;

}

.mobile-auth-nav__item:first-child {
    margin-bottom: 32px;
}

.mobile-auth-nav__link--tel {
    font-weight: 500;
    font-size: 31px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}

.mobile-auth-nav__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.mobile-socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -10px;
    margin-top: -10px;
}

.mobile-socials__item {
    margin-right: 10px;
    margin-top: 10px;
}

.mobile-socials__link {
    display: block;
    padding-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    border-right: 1px solid var(--title-text-color);
}

.mobile-socials__item:last-child .mobile-socials__link {
    padding-right: 0;
    border-right: none;
}



