.mobile-header {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    @media screen and (max-width: 767px) {
        display: block;
        max-width: 450px;
    }
    
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

      &:hover,
      &:focus {
          fill: var(--accent-text-color);
      }
}

.menu-button .mobile-icon--cross {
    display: none;
}

.menu-button.is-open .mobile-icon--cross {
    display: block;
}

.menu-button.is-open .mobile-icon--menu {
    display: none;
}

.mobile-menu {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;

    padding-top: 48px;
    padding-left: 40px;

    background-color: #fff;

        &.is-open {
            display: block;
        }
}

.mobile-nav {
    display: block;
}

.mobile-site-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-site-nav__link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.mobile-site-nav__link--current {
    color: var(--accent-text-color);
}

.mobile-auth-nav {
    margin-top: 302px;
    margin-bottom: 64px;

}

.mobile-auth-nav__item:first-child {
    margin-bottom: 32px;
}

.mobile-auth-nav__link--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}

.mobile-auth-nav__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.mobile-socials {
    display: flex;
    align-items: center;
}

.mobile-socials__item:not(:last-child) {
    margin-right: 20px;
}

.mobile-socials__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}



