:root {
    --set-gap: 30px;
    --single-margin: 15px;
    
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    --primary-text-color: rgba(117, 117, 117, 1);
    --title-text-color: rgba(33, 33, 33, 1);
    --accent-text-color: rgba(33, 150, 243, 1);
    --white-text-color: rgba(255, 255, 255, 1);
    --footer-auth-color: rgba(255, 255, 255, 0.6);
    --main-bg-color: #e5e5e5;
    --team-bg-color: rgba(245, 244, 250, 1);
    --black-bg-color: rgba(47, 48, 58, 1);
    --main-btn-hover: #188ce8;
    --icons-color: rgba(175, 177, 184, 1);
}